@import "tailwindcss";

@theme {
  --color-snapdeal-red: #E40046;
  --color-snapdeal-dark: #535353;
  --color-snapdeal-bg: #F7F7F7;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-snapdeal-bg);
}